USE [master]
GO
/****** Object:  Database [db_taller]    Script Date: 17/5/2020 22:45:14 ******/
CREATE DATABASE [db_taller]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_taller', FILENAME = N'D:\SQL\Microsoft SQL Server\MSSQL11.MSSQLSERVER2\MSSQL\DATA\db_taller.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_taller_log', FILENAME = N'D:\SQL\Microsoft SQL Server\MSSQL11.MSSQLSERVER2\MSSQL\Log\db_taller_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_taller].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_taller]
GO
/****** Object:  Table [dbo].[TBL_AGENCY]    Script Date: 17/5/2020 22:45:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_AGENCY](
	[id_agency] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](80) NOT NULL,
	[address] [nvarchar](150) NULL,
	[phone_number] [char](10) NULL,
 CONSTRAINT [PK_TBL_AGENCY] PRIMARY KEY CLUSTERED 
(
	[id_agency] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
